body {
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto Mono', sans-serif;
}


header {
    position: absolute;
    z-index: 100;
    margin: 0;
}

main {
    height: 100vh;
}

.modal-img {
    position: relative;
}

.modal-img-slim {
    height: 200px;
    background-position: center center;
    background-size: cover;
}

.image-attribution, .image-attribution:hover {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:#000000;
    color: #ffffff;
    font-size: 8pt;
    padding: 1px 10px;
    text-decoration: none;
    opacity: 0.7;
}

#header-site-logo {
    height: 100px;
}

#footer-menu-collapse {
    width: 100%;
}

#footer-menu-container {
    padding-bottom:10px;
    overflow: auto;
    max-height: 40vh;
}

#footer-menu-container .card {
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

#footer-menu-container .card .card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    overflow: hidden;
}





